<p>pizza-homepage works!</p>
<div *ngIf="cart.length > 0">
    <div *ngFor="let item of cart">
        <div class="cart-icon-container">
                <span class="cart-icon">🛒</span>
                <span id="cart-count">{{item.quantity}}</span>
            </div>
    </div>
</div>
<div class="pizza-container">
    <h2>Pizza List</h2>

    <div *ngIf="isLoading">Loading pizzas...</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <div *ngIf="!isLoading && !errorMessage && pizzas.length > 0" class="pizza-grid">
        <div class="pizza-card" *ngFor="let pizza of pizzas">
            <!-- Card Header -->
            <div class="card-header">
                <h3>{{ pizza.pizza_name }}</h3>
                <span class="type">{{ pizza.pizza_type }}</span>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <!-- <p><strong>ID:</strong> {{ pizza.id }}</p> -->
                <img class="pizza_image" src="{{pizza.image}}" alt="Photo of pizza" />
                <p><strong>Price:</strong> ₹{{ pizza.pizza_price }}</p>
            </div>

            <!-- Card Footer -->

            <!-- <div *ngIf="product"> -->
            <!-- <h3>{{ pizza.pizza_name }}</h3>
                <p>{{ pizza.pizza_type }}</p> -->

            <!-- </div> -->
            <div class="card-footer">

                <div *ngIf="isLoading" class="info">Adding to cart...</div>
                <div *ngIf="successMsg" class="success">{{ successMsg }}</div>
                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>


                <div class="product-item" data-product-id="123">


                    <button class="add-to-cart-btn order-btn" (click)="addToCart(pizza)">Add to Cart</button>
                </div>

                <div class="cart-icon-container">
                    <span class="cart-icon">🛒</span>
                    <span id="cart-count">0</span>
                </div>
            </div>


        </div>
    </div>

    <div *ngIf="!isLoading && !errorMessage && pizzas.length === 0">
        No pizzas found.
    </div>
</div>

<hr />

<h3>Cart</h3>
<table *ngIf="cart.length > 0" class="cart-table">

    <thead>
        <tr>
            <th>Pizza ID</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cart">
            <td>{{ item.id }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.price }}</td>
            <td>₹{{ item.total_price }}</td>
            <div class="cart-icon-container">
                <span class="cart-icon">🛒</span>
                <span id="cart-count">{{item.quantity}}</span>
            </div>
        </tr>
    </tbody>
</table>

<p *ngIf="cart.length === 0">Cart is empty.</p>